.heading-1 {
  font-size: 96px;
  color: var(--primary); /* colors next to typography headings are just defaults */
}

.heading-2 {
  font-size: 50px;
  color: white;
}

.body {
  font-size: 36px;
  color: white;
}

.button-text {
  letter-spacing: -2.25px;
}

@media (max-width: 1279px) {
  .heading-1 {
    font-size: 72px;
  }
  .heading-2 {
    font-size: 48px;
  }
  .body {
    font-size: 32px;
  }
}

@media (max-width: 599px) {
  .heading-1 {
    font-size: 64px;
  }
  .heading-2 {
    font-size: 40px;
  }
  .body {
    font-size: 24px;
  }
}

.bg-main {
  background-color: var(--primary);
}
.bg-accent {
  background-color: var(--accent);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-tertiary {
  background-color: var(--tertiary);
}

.text-main {
  color: var(--primary);
}
.text-accent {
  color: var(--accent);
}
.text-secondary {
  color: var(--secondary);
}
.text-tertiary {
  color: var(--tertiary);
}

.border-main {
  border-color: var(--primary);
}
.border-accent {
  border-color: var(--accent);
}
.border-secondary {
  border-color: var(--secondary);
}
.border-tertiary {
  border-color: var(--tertiary);
}